@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, elderguard;
}


@plugin "daisyui/theme" {
  name: "elderguard";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #62B6CB;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #BEE9E8;
  --color-secondary-content: #000;
  --color-accent: #2E778A;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #28A280;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #FFD18D;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ED5A6C;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
